.features {
    width: 100%;
    height: 1054px;
    background-color: #fff;
    margin-top: -26px;
}

.features-content {
    margin-top: 65px;
    margin-left: -274px;
}

.features-content__elem {
    width: 430px;
    display: flex;
    margin-left: 274px;
    margin-top: 50px;
}

.features-content__paragraph {
    margin-top: -32px;
    margin-left: 17px;
}

.features__btn {
    margin: 93px auto;
}

@media(min-width:1840px) {
    .features-content {
        .grid__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 35%;
        }
    }
}

@media(max-width:1132px) {
    .features {
        height: 1440px;
    }
}

@media(max-width:718px) {
    .features {
        height: 1540px;
    }
}

@media(max-width:430px) {

    .features {
        height: 1670px;
    }

    .features-content__elem {
        width: 320px;
    }
}