.who {
    width: 100%;
    height: 724px;
    background-color: #f7f7f7;
}

.who-section {
    position: relative;
    width: 1356px;
    height: 485px;
    background-color: #ffffff;
    margin: 0 auto;
    top: 121px;
    display: flex;
}

.who-section__pic {
    width: 661px;
    height: 485px;
}

.who-section__content {
    width: 485px;
    margin-left: 73px;
}

.who-section__btn {
    margin-top: 55px;
}

@media(max-width:1356px) {
    .who-section {
        width: 100%;
    }
}

@media(max-width:954px) {

    .who {
        height: 930px;
    }

    .who-section {
        width: 660px;
        height: 800px;
        flex-direction: column;
        align-items: center;
    }

    .who-section__content {
        margin-top: -90px;
        margin-left: 0px;
    }
}

@media(max-width:664px) {
    .who-section {
        width: 100%;
    }

    .who-section__pic {
        width: 100%;
        img {
            width: 100%;
        }
    }
}


@media(max-width:590px) {
    .who-section__content {
        margin-top: -160px;
    }
}

@media(max-width:488px) {

    .who-section__content  {
        width: 100%;
        margin-top: -250px;
        .headline {
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .who-section__btn {
            margin: 55px auto;
        }

        .paragraph {
            text-align: center;
        }
    }

}

@media(max-width:392px) {
    .who-section__content  { 
        margin-top: -320px;
    }
}
