@import '_fonts';
@import '_variables';

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.bg-options {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn {
    display: block;
    width: 164px;
    height: 50px;
    border-radius: 25px;
    background-color: transparent;
    font-family: $OpenSans;
    font-size: 16px;
    letter-spacing: 0.8px;
    border: 1px solid #b5a263;
    color: #b5a263;
    text-transform: uppercase;
    transition: all .15s ease-in-out;

    &:hover {
        background-color: #b5a263;
        color: #fff;
    }
}

.wrapper-center {
    display: flex;
    justify-content: center;
}

.headline {
    font-family: $Raleway;
    font-size: 24.3px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #24282f;
    text-transform: uppercase;
    padding-top: 120px;
}

._underscore::before {
    content: '';
    position: absolute;
    margin-top: 53px;
    width: 77.1px;
    height: 2px;
    background-color: #b5a263;
}

._centered {
    text-align: center;
    &._underscore {
        display: flex;
        justify-content: center;
    }
}

.paragraph {
    font-family: $OpenSans;
    font-size: 14px;;
    letter-spacing: 0.4px;
    color: #24282f;
    padding-top: 30px;
}

.content {
    margin-left: -130px;
}

.content__elem {
    margin-left: 130px;
}

.grid {
    flex-wrap: wrap;
}

.grid__item {
    flex-basis: 25%;
}

@import '_header';
@import '_services';
@import '_who';
@import '_works';
@import '_how';
@import '_achievements';
@import '_team';
@import '_features';
@import '_clients';
@import '_brands';
@import '_footer';