body {
    margin: 0;
}

div {
    text-align: center;
    margin-top: 170px;
}

h1, p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

h1 {
    font-size: 72px;
}

p {
    font-size: 56px;
}

