@import 'mixins';

.date-polygon {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #000;
  text-align: center;
  font-family: PT Sans Narrow, sans-serif;
  &::after {
    @include angle;
    border-right: 24.9px solid transparent;
    border-left: 25.4px solid transparent;
    border-top: 10px solid #000;
    top: 50px;
    margin-left: -37px;
  }
}

.date-polygon__day {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 2px;
}

.date-polygon__month {
  text-transform: lowercase;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  top: -9px;
}