@mixin angle {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
}

@mixin headline-underlines {
  content: '';
  position: absolute;
  width: 26%;
  height: 1px;
  background-color: #e5ddd5;
  margin-top: 20px;
}

@mixin control-btn {
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 160px;
  border: solid 1px #e5ddd5;
  top: 0;
  background-color: #f8f5f2;
  background-image: url('bg-imgs/arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
  &:disabled {
    background-color: #dddddd;
    background-image: url('bg-imgs/arrow--disabled.svg');
  }
}