.price {
  width: 100%;
  background-color: #353535;
  padding-top: 70px;
  margin-top: 90px;
  padding-bottom: 80px;
}

.price__headline {
  text-transform: uppercase;
  font-family: PT Sans Narrow, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 8.5%;
  margin-top: 0;
}

.price__inner {
  width: 83%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.price-table {
  display: flex;
  min-width: 630px;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px #4a4a4a;  
}

.price-table-row {
  width: 100%;
  display: flex;
  height: 55px;
  font-family: PT Sans Narrow, sans-serif;
  font-size: 20px;
  line-height: 55px;
  border-top: solid 1px #4a4a4a;
  border-left: solid 1px #4a4a4a; 
  border-right: solid 1px #4a4a4a;  
}

.price-table-row__number {
  width: 70px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.price-table-row__type {
  padding-left: 20px;
  flex-grow: 1;
  padding-right: 4px;
  font-weight: bold;
  color: #ffffff;
  border-left: solid 1px #4a4a4a; 
}

.price-table-row__option, .price-table-row__price {
  padding-left: 20px;
  width: 155px;
  color: #ffffff;
  border-left: solid 1px #4a4a4a;
}

.price-clock {
  width: 270px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #4a4a4a;
  margin-left: 60px;
  padding-top: 35px;
}

.price-clock__icon {
  width: 142px;
  height: 139px;
}

.price-clock__paragraph {
  width: 120px;
  font-family: PT Sans Narrow, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1240px) {
  .price__inner {
    flex-direction: column;
  }

  .price-clock__icon {
    width: 70px;
    height: 70px;
  }

  .price-clock {
    width: 100%;
    height: 115px;
    flex-direction: row;
    padding-top: 0;
    margin-left: 0;
    padding-left: 30px;
    margin-top: 10px;
  }

  .price-clock__paragraph {
    @media (min-width: 769px) {
      width: auto;
      line-height: 115px;
      font-size: 30px;
      font-weight: bold;
    }
    margin: 0 auto;
  }
}

@media (max-width:768px) {
  .price__headline {
    margin-left: 0;
    text-align: center;
  }

  .price-table {
    border: none;
    min-width: auto;
  }

  .price-table-row {
    flex-wrap: wrap;
    border: none;
  }

  .price-table-row__number {
    display: none;
  }

  .price-clock {
    height: 90px;
    padding-left: 20px;
    margin-top: 40px;
  }

  .price-clock__icon {
    width: 55px;
    height: 55px;
  }

  .price-clock__paragraph {
    text-align: left;
  }

  .price-table-row__type {
    border: none;
    padding-left: 0;
  }

  .price-table-row__price {
    width: auto;
    padding-left: 0;
    border: none;
  }

  .price-table-row__option {
    border: none;
    order: 3;
    flex-basis: 100%;
    margin-top: -30px;
    padding-left: 0;
    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }
}