.slider {
  overflow: hidden; }

.slider__slide {
  float: left; }

.slider__wrapper {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  -webkit-transition: left .8s;
  -o-transition: left .8s;
  transition: left .8s; }

.slider__next, .slider__prev {
  position: absolute;
  cursor: pointer; }

.slider__next {
  right: 0; }

.slider__prev {
  left: 0; }

.slider-navigation {
  position: relative;
  z-index: 4;
  text-align: center; }

.slider-navigation__check {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: solid 1px #ffffff;
  background-color: transparent;
  margin-left: 10px;
  display: inline-block;
   }

.active {
  background-color: #e82d3f;
  border-color: #e82d3f; }