.header {
    width: 100%;
    background-color: #fff;
}

.header-nav {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@import '_mixins';

.header__hero-img {
    width: 100%;
    height: 350px;
    background-image: url('bg-pics/header__bg.png');
    @include bg-options;
    margin-top: -33px;
}

.header__main-headline {
    width: 590px;
    position: relative;
    top: 115px;
    margin-left: 9.8vw;
}

.header__descriptor {
    margin-left: 9.8vw;
    margin-top: 155px;
}

.header-nav__burger-menu {
    display: none;
    position: absolute;
    margin-top: -5px;
    right: 6vw;
    cursor: pointer;
}

.header-nav__stroke {
    position: relative;
    display: block;
    width: 22px;
    height: 4px;
    background-color: #777777;
    border-radius: 20px;
    margin-top: 4px;
    transition: transform .15s ease-in-out;
}

.open {
    .header-nav__stroke:nth-child(1) {
        transform: rotate(45deg);
        top: 8px;
    }

    .header-nav__stroke:nth-child(2) {
        opacity: 0;
    }

    .header-nav__stroke:nth-child(3) {
        transform: rotate(-45deg);
        top: -8px;
    }
}


@media(max-width:830px) {
    .header-nav__burger-menu {
        display: block;
    }

    .header-nav-list {
        position: absolute;
        right: -200px;
        margin-top: 100px;
        display: block;
        width: 150px;
        background-color: #fff;
        padding-bottom: 15px;
        padding-top: 15px;
        transition: right .15s ease-in-out;
    }

    .header-nav-list__elem {
        display: block;
        margin-left: -40px;
        margin-top: 20px;
        border-bottom: 1px solid #777777;
    }

    .header-nav-list__link {
        margin-left: 10px;
        padding-bottom: 5px;
    }

    .unfolded {
        right: 0px;
    }
}


@media(max-width:656px) {
    .header__main-headline, .header__descriptor {
        margin-left: 0;
    }

    .header__main-headline {
        margin: 0 auto;
    }

    .header__descriptor {
        text-align: center;
    }
}

@media(max-width:594px) {
    .header__main-headline {
        width: 100%;
    }
}



