.skills {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding-top: 72px;
}

.skills__content {
    width: 570px;
    margin-left: 53px;
    margin-top: -9px;
}

.skills__headline {
    margin-top: 33px;
    margin-bottom: 36px;
}

.skills__paragraph {
    margin-top: 33px;
}

.skills-stats__stat {
    margin-top: 24px;
}

.skills-stats__infographic {
    display: block;
    width: 552px;
    height: 2px;
    border-top: 4px solid #ebebeb;
    border-bottom: 4px solid #ebebeb;
    border-left: 3px solid #ebebeb;
    border-right: 3px solid #ebebeb;
    background-color: #ebebeb;
    margin-top: 19px;
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: #fff;
        border: 5px solid #000;
        border-radius: 100%;
        margin-top: -7px;
    }
}

.skills-stats__tooltip {
    position: absolute;
    width: 40px;
    height: 21px;
    background-color: #041608;
    font-family: $Lato;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    color: #ffffff;
    margin-top: -44px;
    
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0; 
        height: 0; 
        margin-top: 21px;
        border-top: 5px solid #041608;
        border-left: 5px solid #041608;
        border-bottom: 5px solid transparent;
        border-right: 5px solid transparent;
    }
}

._first-infographic {
    background-image: linear-gradient(to right, #8b8b8b 90%, #ebebeb 10%);

    .skills-stats__tooltip {
        margin-left: 497px;
    }

    &::after {
        margin-left: 490px;
    }
}

._second-infographic {
    background-image: linear-gradient(to right, #8b8b8b 95%, #ebebeb 5%);

    .skills-stats__tooltip {
        margin-left: 521px;
    }

    &::after {
        margin-left: 514px;
    }
}

._third-infographic {
    background-image: linear-gradient(to right, #8b8b8b 50%, #ebebeb 50%);

    .skills-stats__tooltip {
        margin-left: 283px;
    }

    &::after {
        margin-left: 276px;
    }
}

._forth-infographic {
    background-image: linear-gradient(to right, #8b8b8b 85%, #ebebeb 15%);

    .skills-stats__tooltip {
        margin-left: 459px;
    }

    &::after {
        margin-left: 452px;
    }
}

@media(max-width:1154px) {
    .skills {
        flex-direction: column;
        align-items: center;
    }

    .skills__content {
        margin-top: 100px;
    }
}

@media(max-width:624px) {

    .skills__content {
        margin-left: auto;
    }
}

@media(max-width:570px) {

    .skills__content {
        width: 100%;
    }

    .skills-stats__infographic {
        width: 100%;
    }

    ._first-infographic  {
        &::after {
            margin-left: 90%;
        }
    }

    ._second-infographic {
        &::after {
            margin-left: 95%;
        }
    }

    ._third-infographic {
        &::after {
            margin-left: 50%;
        }
    }

    ._forth-infographic {
        &::after {
            margin-left: 85%;
        }
    }

    .skills-stats__tooltip {
        display: none;
    }

}

@media(max-width:532px) {
    .skills__pic {
        display: none;
    }

    .skills__content {
        margin-top: -40px;
    }
}